name: .NET

on:
  push:
    branches: 
    - master
        
  pull_request:
    branches: 
    - master
    
jobs:
  test:
    name: dotnet ${{ matrix.dotnet }} . ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, macos-latest, ubuntu-latest]
        dotnet: ['8.0.x', '9.0.x']

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore 
      working-directory: ./ShopsRUs
    - name: Build
      run: dotnet build --no-restore
      working-directory: ./ShopsRUs
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      working-directory: ./ShopsRUs
